<div class="head">
      <h1>
        <a href="http://cs61a.org/">
          <span class="coursename">CS 61A</span>
        </a>
      </h1>
      <p>Structure and Interpretation of Computer Programs, Fall 2014</p>
      <p>
        <span class="instructors">
          Instructor: John DeNero
        </span>
      </p>
      <hr>
      <ul class="navigation">
        <a href="{{ "/announcement.html" | prepend: site.baseurl }}"><li>Announcement</li></a>
        <a href="{{ site.baseurl }}"><li>Calendar</li></a>
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/by_type.html"><li>Resources by Type</li></a>
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/by_topic.html"><li>Resources by Topic</li></a>
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/resources.html"><li>Additional Resources</li></a>
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/problems/"><li>Practice Problems</li></a>

      </ul>
      <hr>
      <ul class="navigation">
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/about.html"><li>Course Info</li></a>
        <a href="http://www-inst.eecs.berkeley.edu/~cs61a/fa14/staff.html"><li>Staff</li></a>
      </ul>
      <hr>
    </div>